

@{
    Layout = null;
}


<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>

    <form action="/Product/Index" method="post">
        <input type="submit" value="Product controller View Bag" />
    </form>

    <form action="/Product/Index1" method="post">
        <input type="submit" value="Product controller by Model" />
    </form>

</body>
</html>
